<div class="options">
	<div v-bind:class="plus" v-on:click="click_plus">
		<i class='fas fa-folder-plus'></i>
	</div>
	<div>
		<i class='far fa-folder' v-on:click="click_folder"></i>
	</div>
	<div>
		<i class='fas fa-search' v-on:click="click_search"></i>
	</div>
</div>
<div id="addproduit" v-bind:class="addproduit">
	<div class="inputs">
		<div>
			<div>
				Réf
			</div>
			<div>
				<input type="text" placeholder="Réference produit" id="ref1">
				<input type="text" placeholder="Réference produit" id="ref2">
				<input type="text" placeholder="Réference produit" id="ref3">
			</div>
		</div>
		<div>
			<div>
				Nom
			</div>
			<div>
				<input type="text" placeholder="Nom du produit" id="fab1">
				<input type="text" placeholder="Nom du produit" id="fab2">
				<input type="text" placeholder="Nom du produit" id="fab3">
			</div>
		</div>
		<div>
			<div>
				Prix
			</div>
			<div>
				<input type="number" placeholder="Prix du produit" id="prix1">
				<input type="number" placeholder="Prix du produit" id="prix2">
				<input type="number" placeholder="Prix du produit" id="prix3">
			</div>
		</div>
	</div>
	<div class="valider" v-on:click="valider">
		Valider
	</div>
</div>

<div class="options2">
	<div v-bind:class="folder">
		<div v-on:click="click_produit_nom">
			Liste des produit par nom
		</div>
		<div v-on:click="click_produit_ref">
			Liste des produit par réference
		</div>
	</div>
	<div v-bind:class="search">
		<label for="recherche">Recherche</label> <input type="text" id="recherche" placeholder="recherche réference">
	</div>
</div>
<div v-bind:class="produit_nom" v-on:click="click_produit_nom" id="produit_nom">
	<h1>
		Liste produit nom
	</h1>
</div>
<div v-bind:class="produit_ref" v-on:click="click_produit_ref" id="produit_ref">
	<h1>
		Liste produit Réf

	</h1>
</div>